/* META-STYLING */
body {
    min-height: 100vh;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Ultra Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    background: radial-gradient(#fc7d7d, #b4bafa);
}

/* MAIN */
#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 231px;
    max-height: 320px;
    margin: 100px auto;
    border: 1px solid #646464;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background: rgba(68, 68, 68, 0.6);
}


#readout {
    width: auto;
    height: 100px; 
    border-radius: 6px 6px 0px 0px;
    margin: 28px 5px 0 5px;
    color: white;
    font-size: 24px;
    text-align: right;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
}

/* BUTTONS */
button {
    font-family: inherit;
    border: 0px;
    margin-top: 1px;
    width: 57px;
    height: 47px;
    font-size: 22px;
}

#zero {
    width: 115px;
    text-align: left;
    padding-left: 25px;
    border-bottom-left-radius: 6px;
}

#equal {
    border-bottom-right-radius: 6px;
}

.operator {
    background-color: #ff8c00;
    color: white;
}

/* // Recap from Etch-a-Sketch: pseudo and non-pseudo CSS classes. */
/* Pseudo active classes for buttons that don't need the 'hold down' effect when pressed */

button:hover {
    background: #e6e6e6;
    box-shadow: 0px 2px 10px 2px #ffb2b2;
    color: #000;
}

button.operator:hover {
    background: #ff8c00;
    box-shadow: 0px 2px 10px 2px #ffb2b2;
    color: white;
}


button:active {
    background-color: #e6e6e6da;
    box-shadow: 0 5px transparent;
    transform: translateY(1px);
}

button.operator:active {
    background-color: #ff8c00d7;
    box-shadow: 0 5px transparent;
    transform: translateY(0.5px);
}



/* FOOTER */
.footer {
    font-family: 'Andale Mono', Roboto, 'Helvetica Neue';
    color: black;
    text-align: center;
    font-size: 16px;
}